<div class="questiontitle"><%= @question.title %></div>

<div class="votebox">
  <form name="upvote" action="/questions/<%= @question.id %>/votes" method="post">
  <input type="hidden" name="value" value="1">
  <input type="image" value="upvote" src="/upvote.jpg">
  </form>
  <%= @question.reputation %>
  <form name="downvote" action="/questions/<%= @question.id %>/votes" method="post">
  <input type="hidden" name="value" value="-1">
  <input type="image" value="downvote" src="/downvote.jpg">
  </form>
</div>

<div class="questionbody">
  <p><%= @question.body %></p>

  <form method="GET" action="/questions/<%= @question.id %>/edit" class="inline">
    <input type="submit" value="Edit question">
  </form>
  <form method="POST" action="/questions/<%= @question.id %>" class="inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete question">
  </form>

  <p class="posterbox">
    Asked on <%= @question.created_at.strftime("%b %d, %Y at %l:%M %p") %> by
      <% unless @question.user.nil? %>
        <a href="/users/<%= @question.user.id %>"><%= @question.user.user_name %></a>
      <% else %>
        deleted_user
      <% end %>
  </p>

  <% @question.comments.each do |comment| %>
    <div class="commentbody">
      <p>
        <%= comment.body %> —
        <% unless comment.user.nil? %>
          <a href="/users/<%= comment.user.id %>"><%= comment.user.user_name %></a>
        <% else %>
          deleted_user
        <% end %>
        <%= comment.created_at.strftime("%b %d %l:%M %p") %>
        <form method="GET" action="/questions/<%= @question.id %>/comments/<%= comment.id %>/edit">
          <input type="submit" value="Edit comment">
        </form>
        <form method="POST" action="/questions/<%= @question.id %>/comments/<%= comment.id %>" class="inline">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete comment">
        </form>
      </p>
    </div>
  <% end %>

  <%= erb :'/question_comment_form', :locals => { :question => @question } %>
</div>

<div class="answertitle">Answers</div>

<% @answers.each do |answer| %>
  <div class="votebox">
    <form name="upvote" action="/answers/<%= answer.id %>/votes" method="post">
    <input type="hidden" name="value" value="1">
    <input type="image" value="upvote" src="/upvote.jpg">
    </form>
    <%= answer.reputation %>
    <form name="downvote" action="/answers/<%= answer.id %>/votes" method="post">
    <input type="hidden" name="value" value="-1">
    <input type="image" value="downvote" src="/downvote.jpg">
    </form>
    <% if current_user == @question.user %>
      <form name="best_answer" method="post" action="/questions/<%= @question.id%>/best_answer">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="best_answer" value="<%= answer.id%>">
        <input type="submit" value="best">
      </form>
    <% end %>

  </div>
  <% if @question.best_answer_id == answer.id %>
    <div class="answerbody" id="best_answer">
  <% else %>
    <div class="answerbody">
  <% end %>
    <p><%= answer.body %></p>

    <p class="posterbox">
      Answered on <%= answer.created_at.strftime("%b %d, %Y at %l:%M %p") %> by
      <% unless answer.user.nil? %>
        <a href="/users/<%= answer.user.id %>"><%= answer.user.user_name %></a>
      <% else %>
        deleted_user
      <% end %>
    </p>

    <% answer.comments.each do |comment| %>
      <div class="commentbody">
        <p><%= comment.body %> —
        <% unless comment.user.nil? %>
          <a href="/users/<%= comment.user.id %>"><%= comment.user.user_name %></a>
        <% else %>
          deleted_user
        <% end %>
        <%= comment.created_at.strftime("%b %d %l:%M %p") %></p>
        <form method="GET" action="/questions/<%= @question.id %>/comments/<%= comment.id %>/edit">
          <input type="submit" value="Edit comment">
        </form>
        <form method="POST" action="/questions/<%= @question.id %>/comments/<%= comment.id %>" class="inline">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete comment">
        </form>
      </div>
    <% end %>

    <%= erb :'/answer_comment_form', :locals => { :answer => answer } %>
  </div>
<% end %>

<%= erb :'/answer_form' %>
